.contPrincipal{
  margin-top: 100px;
}
.contFiltro{
  margin-top: 61px;
}
.color404{
  color: #6200EE;
}
.colorFilter404{
  filter: invert(9%) sepia(80%) saturate(6074%) hue-rotate(268deg) brightness(115%) contrast(133%);
}
.nav-link.active{
  font-weight: bold;
}

[data-theme='dark'] body{
  background-color: rgb(108, 117, 125);
}

nav{
  background-color: rgb(233, 236, 239);
}
[data-theme='dark'] nav{
  color: #ffffff;
  background-color: rgb(52, 58, 64);
}
[data-theme='dark'] a, [data-theme='dark'] a.nav-link.active{
  color: #ffffff;
  background-color: rgb(52, 58, 64);
}
